@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Donation Manager</h1>
    <p class="lead">This Donations Manager application can be used by charitable organizations to manage the processing of donations as well as ensure accurate data entry and seamless communications with donors. In addition, we will include a donation summary report with charts in our application.</p>
</div>

<div class="row">
    <div class="col-md-12"> 
        <h4>Our Donation Manager system has four objects.</h4>
        <ul>
            <li>Donor — Personal information about the donor.</li>
            <li>Donation — The amount donated for a particular campaign</li>
            <li>Campaign — Donation campaign information</li>
            <li>Organization — The organization that manages the donations</li>
        </ul>
    </div>
</div>